<%= turbo_stream.remove(@project) %>%
<%= turbo_stream.append("notifications") do %>
  <div class="w-128 bg-green-50 border-2 border-green-500 p-2 rounded-md notification">Project has been deleted</div>
<% end %>
