/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  font-family: "Figtree"
}

.notification {
  animation-name: notification;
  animation-delay: 5s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes notification {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0%;
    display: none
  }
}
